<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">
         <div *ngIf="status then showData else showLoadingScreen"></div>
         <ng-template #showData>

         </ng-template>
         
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Course Title</th>
                    <th scope="col">Course Duration</th>
                    <th scope="col">Course Description</th>

                   
                    <th scope="col">Course date</th>

                        <th scope="col">Course Venue</th>

                  </tr>
                </thead>
                <tbody>

                  

                  <tr *ngFor="let i of courseData">

                    
                    <td>{{i.courseTitle}}</td>
                    <td>{{i.courseDuration}}</td>
                    <td>{{i.courseDescription}}</td>
                    <td>{{i.courseDate}}</td>
                    <td>{{i.courseVenue}}</td>
                  </tr>
                 
                </tbody>
              </table>
              <ng-template #showLoadingScreen>

                <div class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </ng-template>
              </div>
              </div>
              </div>
              
              