<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">
           
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Course Title</th>
                    <th scope="col">Course Duration</th>
                    <th scope="col">Course Description</th>

                   
                    <th scope="col">Course date</th>

                        <th scope="col">Course Venue</th>

                  </tr>
                </thead>
                <tbody>

                  

                  <tr *ngFor="let i of courseData">

                    
                    <td>{{i.courseTitle}}</td>
                    <td>{{i.courseDuration}}</td>
                    <td>{{i.courseDescription}}</td>
                    <td>{{i.courseDate}}</td>
                    <td>{{i.courseVenue}}</td>
                  </tr>
                 
                </tbody>
              </table>
              </div>
              </div>
              </div>
              
              